<footer class=" bg-dark text-center px-5 py-2">
    <h6 class="text-light text-center mx-auto">This website has been made by Mahdi Javidi</h6>
    <i class="fa fa-copyright text-light"> Copy right</i>
</footer>
