<div>

	<div>
		<div class="title mb-4">
			<h3>تازه ترین</h3>
			<hr />
			<%- include('./newest.ejs')  %> 
		</div>

		<div>

			<div>
				<div class="title mb-4">
					<h3>پایه ها</h3>
					<hr />
					<a  class="sidebar-items" href="/grade/?grade=firstbas">اول ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=secondbas"> دوم ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=thirdBas">سوم ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=fourthBas">چهارم ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=fiftheBas">پنجم ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=sexthBas">ششم ابتدایی</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=seventh"> هفتم</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=eighth"> هشتم</a> <br>
					<a  class="sidebar-items" href="/grade/?grade=nineth"> نهم</a> <br>
				</div>
				
				<div>
					<div class="title mb-4">
						<h3>کتاب</h3>
						<hr />
						<a  class="sidebar-items" href="/book/?book=quran">قران</a> <br>
						<a  class="sidebar-items" href="/book/?book=farsi">ادبیات فارسی</a> <br>
						<a  class="sidebar-items" href="/book/?book=oloom">علوم تجربی</a> <br>
						<a  class="sidebar-items" href="/book/?book=math">ریاضی</a> <br>
						<a  class="sidebar-items" href="/book/?book=payam">پیام های اسمانی</a> <br>
						<a  class="sidebar-items" href="/book/?book=english">زبان خارحه</a> <br>
						<a  class="sidebar-items" href="/book/?book=honar">فرهنگ و هنر</a> <br>
						<a  class="sidebar-items" href="/book/?book=amadegi"> امادگی دفاعی</a> <br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
