<div class="row text-center">
    <div class="col-12 text-center mt-5">
        <img  class="mx-auto" alt="not found" src="http://localhost:3000/img/no-found.gif" style="width: 50%; display: block;" />
    </div>
    <div class="col-12 text-center">
        <%= text%> 
    </div>

</div>