<form action="/admin/change-password" method="POST" enctype="multipart/form-data">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="form-group">
                <label for="oldPassword">رمز عبور گذشته</label>
                <input type="password" name="oldPassword" class="form-control" id="oldPassword" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">رمز عبور جدید</label>
                <input type="password" name="password" class="form-control" id="password" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="confirmPassword">تکرار رمز عبور جدید</label>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" />
            </div>
        </div>

        <div class="col-md-6">
            <ul class="small text-muted pl-4 mb-0 text-danger">


            </ul>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">تغییر رمز</button>
</form>