<div class="  text-light">
    <h1 class="my-3 text-center">Classmates</h1>
    <hr>
    <a href="/admin/dashboard" class=" link-light text-decoration-none d-block pb-1  sidebar-items <%if(path == '/dashboard') { %> active-items <% } %> "  >پست ها<i class="mx-2 fa fa-bookmark"></i></a>
    <a href="/admin/addPost" class=" link-light text-decoration-none d-block pb-1 sidebar-items <%if(path == '/addPost') { %> active-items <% } %>  "  > پست جدید<i class="mx-2 fa fa-plus"></i></a>
    <a href="/admin/setting" class=" link-light text-decoration-none d-block pb-1 sidebar-items <%if(path == '/setting') { %> active-items <% } %>"> تنظیمات <i class="mx-2 fa fa-plus"></i></a>
</div>  