<form action="/admin/dashboard/search" method="post" class="d-flex">
    <input
        class="form-control me-2 rtl "
        name="search"
        type="search"
        placeholder="جستجو"
        aria-label="Search"
        />
    <button class="btn btn-outline-light" type="submit">جستجو</button>
</form>